@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@font-face {
  font-family: 'sf_ui_displaybold';
  src: url("../fonts/sf-ui-display-bold-webfont.eot");
  src: url("../fonts/sf-ui-display-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-display-bold-webfont.woff2") format("woff2"), url("../fonts/sf-ui-display-bold-webfont.woff") format("woff"), url("../fonts/sf-ui-display-bold-webfont.ttf") format("truetype"), url("../fonts/sf-ui-display-bold-webfont.svg#sf_ui_displaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textlight';
  src: url("../fonts/sf-ui-text-light-webfont.eot");
  src: url("../fonts/sf-ui-text-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-light-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-light-webfont.woff") format("woff"), url("../fonts/sf-ui-text-light-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-light-webfont.svg#sf_ui_textlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textmedium';
  src: url("../fonts/sf-ui-text-medium-webfont.eot");
  src: url("../fonts/sf-ui-text-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-medium-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-medium-webfont.woff") format("woff"), url("../fonts/sf-ui-text-medium-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-medium-webfont.svg#sf_ui_textmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textregular';
  src: url("../fonts/sf-ui-text-regular-webfont.eot");
  src: url("../fonts/sf-ui-text-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-regular-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-regular-webfont.woff") format("woff"), url("../fonts/sf-ui-text-regular-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-regular-webfont.svg#sf_ui_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_textsemibold';
  src: url("../fonts/sf-ui-text-semibold-webfont.eot");
  src: url("../fonts/sf-ui-text-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-ui-text-semibold-webfont.woff2") format("woff2"), url("../fonts/sf-ui-text-semibold-webfont.woff") format("woff"), url("../fonts/sf-ui-text-semibold-webfont.ttf") format("truetype"), url("../fonts/sf-ui-text-semibold-webfont.svg#sf_ui_textsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "sf_ui_textregular";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 10px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer;
  padding: 0; }

@font-face {
  font-family: "planer-icons";
  src: url("../fonts/planer-icons.eot");
  src: url("../fonts/planer-icons.eot?#iefix") format("eot"), url("../fonts/planer-icons.woff2") format("woff2"), url("../fonts/planer-icons.woff") format("woff"), url("../fonts/planer-icons.ttf") format("truetype"), url("../fonts/planer-icons.svg#planer-icons") format("svg"); }

.icon-account_circle-blue:before, .icon-account_circle-grey:before, .icon-add:before, .icon-arrow:before, .icon-bell-not_active:before, .icon-bell:before, .icon-cancel:before, .icon-check:before, .icon-check_box:before, .icon-check_box_outline:before, .icon-edit-not_active:before, .icon-edit:before, .icon-list:before, .icon-lock-blue:before, .icon-lock-grey:before, .icon-logout:before, .icon-star:before, .icon-time:before, .icon-user:before, .icon-warning:before {
  font-family: "planer-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-account_circle-blue:before {
  content: ""; }

.icon-account_circle-grey:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.icon-arrow:before {
  content: ""; }

.icon-bell-not_active:before {
  content: ""; }

.icon-bell:before {
  content: ""; }

.icon-cancel:before {
  content: ""; }

.icon-check {
  color: #7cbb00; }
  .icon-check:before {
    content: ""; }

.icon-check_box:before {
  content: ""; }

.icon-check_box_outline:before {
  content: ""; }

.icon-edit-not_active:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-lock-blue:before {
  content: ""; }

.icon-lock-grey:before {
  content: ""; }

.icon-logout:before {
  content: ""; }

.icon-star {
  color: #7cbb00; }
  .icon-star:before {
    content: ""; }

.icon-time:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-warning {
  color: #ff5201; }
  .icon-warning:before {
    content: ""; }

.add-task, .user-nav, .toggle-task-type .toggle-task-list, .date-today, .task .task-header, .task .task-content-wrap .time-row, .task .task-content-wrap .task-text-row, .task .task-content-wrap .task-check-row form, .task .task-content-wrap .task-edit-row, .info-block, .to-do-time, .edit-task .task-bell, .login-container, .login-row, .check-pass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.fixed-to-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999; }

.blue-color {
  color: #00a2f4; }

.grey-color {
  color: #404040; }

.awaiting {
  color: #f4703d; }

.not-active {
  color: #bebebe; }

.login-color-grey {
  color: #a0a0a0; }

.btn {
  display: inline-block;
  background: #00a2f4;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  width: 100%; }
  .btn:hover {
    background: #0092f4; }

.add-task, .user-nav, .toggle-task-type .toggle-task-list, .date-today, .task .task-header, .task .task-content-wrap .time-row, .task .task-content-wrap .task-text-row, .task .task-content-wrap .task-check-row form, .task .task-content-wrap .task-edit-row, .info-block, .to-do-time, .edit-task .task-bell, .login-container, .login-row, .check-pass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.fixed-to-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999; }

.blue-color {
  color: #00a2f4; }

.grey-color {
  color: #404040; }

.awaiting {
  color: #f4703d; }

.not-active {
  color: #bebebe; }

.login-color-grey {
  color: #a0a0a0; }

.btn {
  display: inline-block;
  background: #00a2f4;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  width: 100%; }
  .btn:hover {
    background: #0092f4; }

body {
  color: #000; }

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-container.direction-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .flex-container.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header {
  background: #00a2f4;
  padding: 3.5em 0;
  height: 100px;
  position: relative; }

.add-task {
  font-size: 1em;
  width: 6em;
  height: 6em;
  background: #ffbb00;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translateY(55%);
      -ms-transform: translateY(55%);
          transform: translateY(55%);
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .add-task span {
    font-size: 3em; }

.user-nav {
  font-size: 3em;
  color: #fff; }
  .user-nav a {
    line-height: .8; }
    .user-nav a + a {
      margin-left: 35px; }

.toggle-task-type {
  padding: 5em 0; }
  @media (min-width: 1024px) {
    .toggle-task-type {
      padding: 10em 0 8em; } }
  @media (max-height: 480px) {
    .toggle-task-type {
      display: none; } }
  .toggle-task-type .toggle-task-list a {
    color: #bebebe;
    font-size: 1.8em;
    font-family: 'sf_ui_textsemibold'; }
    @media (min-width: 1024px) {
      .toggle-task-type .toggle-task-list a {
        font-size: 3em; } }
    .toggle-task-type .toggle-task-list a.active {
      color: #00a2f4; }
    .toggle-task-type .toggle-task-list a + a {
      margin-left: 5px; }
      .toggle-task-type .toggle-task-list a + a::before {
        content: "/";
        display: inline-block;
        margin-right: 5px;
        color: #bebebe; }

.main {
  padding-top: 216px; }
  @media (min-width: 1024px) {
    .main {
      padding-top: 310px; } }
  @media (max-height: 480px) {
    .main {
      padding-top: 140px; } }

.date-today {
  background: #00a2f4;
  padding: .8em 2em;
  color: #fff;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (min-width: 1024px) {
    .date-today {
      padding: 1.6em 11em; } }
  .date-today .date {
    font-family: 'sf_ui_displaybold';
    font-size: 3.6em; }
    @media (min-width: 1024px) {
      .date-today .date {
        font-size: 5em; } }
  .date-today .month {
    font-size: 1.8em; }
    @media (min-width: 1024px) {
      .date-today .month {
        font-size: 3em; } }

.task-content {
  display: none; }
  .task-content.active {
    display: block; }

.all-task-wrap {
  padding: 4em 0;
  position: relative; }
  .all-task-wrap::before {
    content: "";
    position: absolute;
    top: 6em;
    left: 2em;
    bottom: 0;
    width: 0;
    border-left: 2px dashed #00a2f4;
    z-index: -1; }
    @media (min-width: 1024px) {
      .all-task-wrap::before {
        top: 8.5em;
        left: 2.5em; } }
  @media (min-width: 1024px) {
    .all-task-wrap {
      padding: 5em 0; } }

.task-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .task-wrap + .task-wrap {
    margin-top: 4em; }
    @media (min-width: 1024px) {
      .task-wrap + .task-wrap {
        margin-top: 5em; } }
  @media (min-width: 1110px) {
    .task-wrap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .task-wrap .task-icon {
    width: 20px; }
    @media (min-width: 1024px) {
      .task-wrap .task-icon {
        width: 40px; } }

.task {
  width: 100%;
  position: relative;
  padding-left: 5.4em;
  max-width: -webkit-calc( 600px + 5.4em);
  max-width: calc( 600px + 5.4em); }
  .task.open .task-content-wrap {
    display: block; }
  .task.open .task-header {
    -webkit-border-radius: 1em 1em 0 0;
            border-radius: 1em 1em 0 0; }
  .task.warning .task-header {
    background: #ff5201; }
  .task.success .task-header {
    background: #7cbb00; }
  .task:not([class~="open"]) .task-all-content {
    -webkit-box-shadow: 3px 4px 7.36px 0.64px rgba(0, 0, 0, 0.08);
            box-shadow: 3px 4px 7.36px 0.64px rgba(0, 0, 0, 0.08); }
  @media (min-width: 1024px) {
    .task {
      padding-left: 11.2em;
      max-width: -webkit-calc( 600px + 11.2em);
      max-width: calc( 600px + 11.2em); } }
  .task .task-all-content {
    -webkit-border-radius: 1em;
            border-radius: 1em;
    -webkit-box-shadow: 0 5px 16.17px 4.83px rgba(0, 2, 3, 0.08);
            box-shadow: 0 5px 16.17px 4.83px rgba(0, 2, 3, 0.08); }
  .task .task-header {
    padding: 1.3em 1.5em;
    background: #ffbb00;
    -webkit-border-radius: 1em;
            border-radius: 1em;
    color: #fff;
    font-family: 'sf_ui_textlight';
    cursor: pointer;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 1024px) {
      .task .task-header {
        padding: 2em 3em; } }
    .task .task-header .slide-toggle-btn {
      font-size: .6em; }
      @media (min-width: 1024px) {
        .task .task-header .slide-toggle-btn {
          font-size: 1.6em; } }
    .task .task-header .short-task-text {
      font-size: 1.4em;
      -webkit-flex-basis: 80%;
          -ms-flex-preferred-size: 80%;
              flex-basis: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media (min-width: 1024px) {
        .task .task-header .short-task-text {
          font-size: 3em; } }
    @media (min-width: 1024px) {
      .task .task-header .remove {
        font-size: 2.5em; } }
  .task .task-content-wrap {
    display: none;
    padding: 1.5em;
    -webkit-border-radius: 0 0 1em 1em;
            border-radius: 0 0 1em 1em;
    background: #fff;
    color: #404040;
    font-family: 'sf_ui_textlight'; }
    @media (min-width: 1024px) {
      .task .task-content-wrap {
        padding: 3em; } }
    .task .task-content-wrap .task-icon {
      width: 20px; }
      @media (min-width: 1024px) {
        .task .task-content-wrap .task-icon {
          width: 40px; } }
      .task .task-content-wrap .task-icon .circle {
        width: 20px;
        height: 20px;
        border: 1px solid #f4703d;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        display: inline-block; }
        @media (min-width: 1024px) {
          .task .task-content-wrap .task-icon .circle {
            width: 30px;
            height: 30px; } }
    .task .task-content-wrap .icon {
      font-size: 2em; }
      @media (min-width: 1024px) {
        .task .task-content-wrap .icon {
          font-size: 3em; } }
    .task .task-content-wrap .time-row {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .task .task-content-wrap .time-row .time {
        width: 90%;
        padding-left: 10px;
        font-family: 'sf_ui_textmedium';
        font-size: 1.8em; }
        @media (min-width: 1024px) {
          .task .task-content-wrap .time-row .time {
            font-size: 2.5em;
            padding-left: 5px; } }
    .task .task-content-wrap .task-text-row p {
      width: 90%;
      padding-left: 10px;
      font-size: 1.4em;
      line-height: 1.3;
      word-break: break-all; }
      @media (min-width: 1024px) {
        .task .task-content-wrap .task-text-row p {
          font-size: 2.5em;
          line-height: 1.2;
          padding-left: 5px; } }
    @media (min-width: 1024px) {
      .task .task-content-wrap .task-check-row {
        margin-top: 1.7em; } }
    .task .task-content-wrap .task-check-row form {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .task .task-content-wrap .task-check-row input[type="checkbox"] {
      display: none; }
    .task .task-content-wrap .task-check-row label {
      padding-left: 10px;
      font-size: 1.4em;
      line-height: 1.3; }
      @media (min-width: 1024px) {
        .task .task-content-wrap .task-check-row label {
          font-size: 2.5em;
          padding-left: 5px; } }
    .task .task-content-wrap .task-edit-row {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media (min-width: 1024px) {
        .task .task-content-wrap .task-edit-row {
          margin-top: 3em; } }
    .task .task-content-wrap > * + * {
      margin-top: 1.5em; }
      @media (min-width: 1024px) {
        .task .task-content-wrap > * + * {
          margin-top: 2.5em; } }

.info-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5.4em;
  margin-top: 2em; }
  .info-block.warning {
    color: #ff5201; }
  .info-block.success {
    color: #7cbb00; }
  @media (min-width: 1024px) {
    .info-block {
      margin-top: 3em;
      padding-left: 11.2em; } }
  @media (min-width: 1110px) {
    .info-block {
      margin-top: 0;
      margin-left: 1.6em;
      -webkit-box-align: initial;
      -webkit-align-items: initial;
          -ms-flex-align: initial;
              align-items: initial;
      padding: 1.6em 1.6em 0 5.4em; } }
  .info-block .info-icon {
    width: 30px; }
    @media (min-width: 1024px) {
      .info-block .info-icon {
        width: 40px; } }
    .info-block .info-icon .icon {
      font-size: 3em; }
      @media (min-width: 1024px) {
        .info-block .info-icon .icon {
          font-size: 4em; } }
  .info-block .info-text {
    font-family: 'sf_ui_textregular';
    font-size: 1.6em;
    padding-left: 20px;
    line-height: 1.125; }
    @media (min-width: 1024px) {
      .info-block .info-text {
        font-size: 2.5em;
        padding-left: 30px; } }
    @media (min-width: 1110px) {
      .info-block .info-text {
        font-size: 3em; } }

.to-do-time {
  width: 3.3333em;
  height: 3.3333em;
  font-size: 1.2em;
  background: #00a2f4;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0; }
  @media (min-width: 1024px) {
    .to-do-time {
      font-size: 1.4em;
      width: 3.6em;
      height: 3.6em;
      margin-top: 10px; } }

.overlay {
  background-color: rgba(0, 0, 0, 0.83);
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .overlay.open {
    z-index: 9999;
    opacity: 1; }

.edit-task {
  background: #fff;
  width: 100%;
  padding: 5em 0 3em;
  height: auto;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateY(100vh);
      -ms-transform: translateY(100vh);
          transform: translateY(100vh);
  position: fixed;
  bottom: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .edit-task.open {
    z-index: 9999;
    opacity: 1;
    -webkit-transform: translateY(0vh);
        -ms-transform: translateY(0vh);
            transform: translateY(0vh); }
  @media (min-width: 1024px) {
    .edit-task {
      height: 60vh;
      overflow: auto;
      padding: 5em 0; } }
  @media (max-height: 630px) and (max-width: 1023px) {
    .edit-task {
      top: 0;
      overflow: auto; } }
  .edit-task .close-edit {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #9d9d9d;
    cursor: pointer; }
    @media (max-height: 630px) {
      .edit-task .close-edit {
        display: block;
        font-size: 1.6em; } }
    @media (min-width: 1024px) {
      .edit-task .close-edit {
        font-size: 2em; } }
    .edit-task .close-edit:hover {
      color: #00a2f4; }
  .edit-task .title {
    color: #767676;
    margin-bottom: 4em; }
    .edit-task .title span {
      font-size: 1.8em; }
    @media (min-width: 1024px) {
      .edit-task .title {
        margin-bottom: 2em; } }
  .edit-task .input-group {
    width: 100%; }
    .edit-task .input-group.flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (min-width: 1024px) {
        .edit-task .input-group.flex-container {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
              -ms-flex-direction: row;
                  flex-direction: row; } }
  .edit-task .task-bell {
    font-size: 1.6em;
    color: #404040;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .edit-task .icon-bell {
    font-size: 1.8em;
    color: #00a2f4;
    margin-right: 1em; }
    @media (min-width: 1024px) {
      .edit-task .icon-bell {
        margin-right: .7em; } }
  .edit-task input {
    font-size: 3em;
    margin: .67em 0;
    padding-left: 2.3em; }
    @media (min-width: 1024px) {
      .edit-task input {
        margin: 0;
        padding-left: 2em; } }
  .edit-task .textarea-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 710px;
    margin-top: 2em; }
    @media (min-width: 1024px) {
      .edit-task .textarea-wrap {
        margin-top: 3em; } }
    .edit-task .textarea-wrap textarea {
      border-bottom: 1px solid #9d9d9d;
      width: 100%;
      height: 60px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      font-family: 'sf_ui_textregular';
      font-size: 1.4em;
      color: #404040;
      padding: 0; }
      .edit-task .textarea-wrap textarea:focus {
        border-color: #00a2f4; }
        .edit-task .textarea-wrap textarea:focus + label {
          color: #00a2f4; }
    .edit-task .textarea-wrap label {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      font-family: 'sf_ui_textlight';
      font-size: 1.2em;
      color: #424242; }
      @media (min-width: 1024px) {
        .edit-task .textarea-wrap label {
          font-size: 1.4em; } }
    .edit-task .textarea-wrap .symbol-count {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      text-align: right;
      margin-top: 4em; }
      .edit-task .textarea-wrap .symbol-count span {
        font-size: 1.2em; }
      @media (min-width: 1024px) {
        .edit-task .textarea-wrap .symbol-count {
          margin-top: 2em; } }
  .edit-task .edit-task-btn-wrap {
    margin-top: 6em; }
    @media (min-width: 740px) {
      .edit-task .edit-task-btn-wrap {
        text-align: right;
        margin-top: 1em; } }
    .edit-task .edit-task-btn-wrap .edit-task-btn {
      padding: .37em;
      font-family: 'sf_ui_textsemibold';
      font-size: 2.4em; }
      @media (min-width: 740px) {
        .edit-task .edit-task-btn-wrap .edit-task-btn {
          width: 290px; } }

.add-task, .user-nav, .toggle-task-type .toggle-task-list, .date-today, .task .task-header, .task .task-content-wrap .time-row, .task .task-content-wrap .task-text-row, .task .task-content-wrap .task-check-row form, .task .task-content-wrap .task-edit-row, .info-block, .to-do-time, .edit-task .task-bell, .login-container, .login-row, .check-pass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.fixed-to-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999; }

.blue-color {
  color: #00a2f4; }

.grey-color {
  color: #404040; }

.awaiting {
  color: #f4703d; }

.not-active {
  color: #bebebe; }

.login-color-grey {
  color: #a0a0a0; }

.btn {
  display: inline-block;
  background: #00a2f4;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  color: #fff;
  text-transform: uppercase;
  width: 100%; }
  .btn:hover {
    background: #0092f4; }

.svg-check_box, .svg-check_box_outline, .check-pass input[type="checkbox"]:checked + label::before, .check-pass label::before {
  background: url("../img/sprite.svg") no-repeat; }

.svg-check_box {
  background-position: 0 0; }

.svg-check_box-dims {
  width: 24px;
  height: 24px; }

.svg-check_box_outline {
  background-position: 100% 0; }

.svg-check_box_outline-dims {
  width: 24px;
  height: 24px; }

.login-container {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-320.jpg") no-repeat center center/cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 380px) {
    .login-container {
      background: url("../img/bg-768.jpg") no-repeat center center/cover; } }
  @media (min-width: 768px) {
    .login-container {
      background: url("../img/bg-1024.jpg") no-repeat center center/cover; } }

.login-form {
  width: 100%;
  max-width: 344px;
  margin: 0 15px;
  padding: 5.5em 2.3em 4.3em;
  background: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 16.17px 4.83px rgba(0, 2, 3, 0.08);
          box-shadow: 0 5px 16.17px 4.83px rgba(0, 2, 3, 0.08);
  font-family: 'Roboto'; }
  @media (min-width: 480px) {
    .login-form {
      padding: 5em; } }
  @media (max-height: 360px) {
    .login-form {
      padding: 2.3em; } }
  .login-form form {
    max-width: 244px;
    margin: 0 auto; }

.login-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .login-row + .login-row {
    margin-top: 1.9em; }
  .login-row .icon {
    font-size: 2.6em; }
  .login-row .form-control {
    width: 190px;
    border-bottom: 1px solid #9e9e9e;
    padding: .5em 0;
    font-family: 'Roboto';
    font-size: 1.8em;
    color: #bdbdbd; }
  .login-row .error {
    color: #ff2f00; }

.login-btn-wrap {
  margin: 4em 0 3em; }
  .login-btn-wrap .login-btn {
    padding: .5em;
    font-size: 1.8em;
    font-family: 'Roboto'; }

.check-pass {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .check-pass .icon {
    font-size: 2.2em; }
  .check-pass input[type="checkbox"] {
    display: none; }
    .check-pass input[type="checkbox"]:checked + label::before {
      background-position: 0 0; }
  .check-pass label {
    font-size: 1.4em;
    color: #bdbdbd; }
    .check-pass label::before {
      content: "";
      background-position: 100% 0;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: .7em;
      vertical-align: middle; }

.warning-msg {
  display: none;
  margin-top: 1em;
  padding: 0.8em;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background: #f5eddc;
  color: #ff2f00;
  text-align: center;
  font-size: 1.4em; }
