<!DOCTYPE html>
<html lang="en" data-ng-app="taskApp">
<head>
	<meta charset="UTF-8">
	<title>Task-manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-controller="baseCtrl">
	<!-- HEADER START -->
	
	<div class="fixed-to-top" data-ng-cloak>
		<div class="header" data-ng-style="{'background-color': generalStyle['background-color']}">
			<div class="container">
				<div class="flex-container direction-row space-between">
					<button class="add-task" open-edit-modal>
						<span class="icon icon-add"></span>
					</button>
					<nav class="user-nav">
						<a href="#colors" open-dropdown><span class="icon icon-user"></span></a>
						<a href="#"><span class="icon icon-logout"></span></a>
					</nav>
					<div id="colors" data-ng-style="{'border-color': generalStyle['border-color']}">
						<ul>
							<li>
								<div class="color theme-dark" change-theme></div>
							</li>
							<li>
								<div class="color theme-light" change-theme></div>
							</li>
							<li>
								<div class="color theme-brown" change-theme></div>
							</li>
							<li>
								<div class="color theme-gray" change-theme></div>
							</li>
							<li>
								<div class="color theme-default" change-theme></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="toggle-task-type">
			<div class="container">
				<nav class="toggle-task-list">
					<a href="#active-task" data-ng-click="activeTab = 'activeTask'" data-ng-style="activeTab == 'activeTask' && {'color': generalStyle['color']}">Активные задачи</a>
					<a href="#all-task"  data-ng-click="activeTab = 'allTask'" data-ng-style="activeTab == 'allTask' && {'color': generalStyle['color']}">Все задачи</a>
				</nav>
			</div>
		</div>
	</div>
	<!-- HEADER END -->
	<!-- MAIN START -->
	<div class="main" data-ng-cloak>
		<div data-ng-if ="activeTab == 'activeTask'" class="task-content active" id="active-task">
			<div class="container">
				<div class="date-today" data-ng-style="{'background-color': generalStyle['background-color']}">
					<span class="date">09</span>
					<span class="month">фев</span>
				</div>
				<div class="all-task-wrap">
					<!--ONE TASK START-->
					<div class="task-wrap" data-ng-repeat="task in currentTasks">
						<div class="task" data-ng-class="{'success' : task.status === 'done', 'warning' : (task.status === 'undone') && currentFullDate > (task.date + 'T' + task.time)}">
							<div class="to-do-time" data-ng-style="{'background-color': generalStyle['background-color']}">{{task.time}}</div>
							<div class="task-all-content">
								<div class="task-header" task-accordion>
									<div class="slide-toggle-btn">
										<span class="icon icon-arrow"></span>
									</div>
									<div class="short-task-text">
										{{task.taskText}}
									</div>
									<div class="remove">
										<span class="icon icon-cancel"></span>
									</div>
								</div>
								<div class="task-content-wrap">
									<div class="time-row">
										<div class="task-icon">
											<span class="icon icon-time"></span>
										</div>
										<span class="time">{{task.time}}</span>
										<div class="alert">
											<span class="icon icon-bell not-active"></span>
										</div>
									</div>
									<div class="task-text-row">
										<div class="task-icon">
											<span class="icon icon-list"></span>
										</div>
										<p>{{task.taskText}}</p>
									</div>
									<div class="task-check-row">
										<form data-ng-if="!((task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time)) || task.status === 'done')">
											<div class="task-icon">
												<span class="icon awaiting"><span class="circle"></span></span>
											</div>
											<label>
												<input type="checkbox">
												Задача еще не выполнена
											</label>
										</form>
										<form data-ng-if="task.status === 'done'">
											<div class="task-icon">
												<span class="icon icon-check"></span>
											</div>
											<label>
												<input type="checkbox">
												Я выполнил задачу
											</label>
										</form>
										<form data-ng-if="(task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time))">
											<div class="task-icon">
												<span class="icon icon-warning"></span>
											</div>
											<label>
												<input type="checkbox">
												Вы не выполнили эту задачу
											</label>
										</form>
									</div>
									<div class="task-edit-row">
										<span class="icon icon-edit not-active" open-edit-modal data-ng-click="editTaskModal(task)"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="info-block success" data-ng-if="task.status === 'done'">
							<div class="info-icon">
								<span class="icon icon-star"></span>
							</div>
							<span class="info-text">Поздравляем! Вы справились с задачей</span>
						</div>
						<div class="info-block warning" data-ng-if="(task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time))">
							<div class="info-icon">
								<span class="icon icon-warning"></span>
							</div>
							<span class="info-text">Вы не выполнили эту задачу</span>
						</div>
					</div>
					<!--ONE TASK END-->
				</div>
			</div>
		</div>
		
		<div data-ng-if ="activeTab == 'allTask'" class="task-content" id="all-task">
			<div class="container">
				<div class="date-today" data-ng-style="{'background-color': generalStyle['background-color']}">
					<span class="date">09</span>
					<span class="month">фев</span>
				</div>
				<div class="all-task-wrap">
					<!--ONE TASK START-->
					<div class="task-wrap" data-ng-repeat="task in allTasks">
						<div class="task" data-ng-class="{'success' : task.status === 'done', 'warning' : (task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time))}">
							<div class="to-do-time" data-ng-style="{'background-color': generalStyle['background-color']}">{{task.time}}</div>
							<div class="task-all-content">
								<div class="task-header" task-accordion>
									<div class="slide-toggle-btn">
										<span class="icon icon-arrow"></span>
									</div>
									<div class="short-task-text">
										{{task.taskText}}
									</div>
									<div class="remove">
										<span class="icon icon-cancel"></span>
									</div>
								</div>
								<div class="task-content-wrap">
									<div class="time-row">
										<div class="task-icon">
											<span class="icon icon-time"></span>
										</div>
										<span class="time">{{task.time}}</span>
										<div class="alert">
											<span class="icon icon-bell not-active"></span>
										</div>
									</div>
									<div class="task-text-row">
										<div class="task-icon">
											<span class="icon icon-list"></span>
										</div>
										<p>{{task.taskText}}</p>
									</div>
									<div class="task-check-row">
										<form data-ng-if="!((task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time)) || task.status === 'done')">
											<div class="task-icon">
												<span class="icon awaiting"><span class="circle"></span></span>
											</div>
											<label>
												<input type="checkbox">
												Задача еще не выполнена
											</label>
										</form>
										<form data-ng-if="task.status === 'done'">
											<div class="task-icon">
												<span class="icon icon-check"></span>
											</div>
											<label>
												<input type="checkbox">
												Я выполнил задачу
											</label>
										</form>
										<form data-ng-if="(task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time))">
											<div class="task-icon">
												<span class="icon icon-warning"></span>
											</div>
											<label>
												<input type="checkbox">
												Вы не выполнили эту задачу
											</label>
										</form>
									</div>
									<div class="task-edit-row">
										<span class="icon icon-edit not-active" open-edit-modal data-ng-click="editTaskModal(task)"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="info-block success" data-ng-if="task.status === 'done'">
							<div class="info-icon">
								<span class="icon icon-star"></span>
							</div>
							<span class="info-text">Поздравляем! Вы справились с задачей</span>
						</div>
						<div class="info-block warning" data-ng-if="(task.status === 'undone') && (currentFullDate > (task.date + 'T' + task.time))">
							<div class="info-icon">
								<span class="icon icon-warning"></span>
							</div>
							<span class="info-text">Вы не выполнили эту задачу</span>
						</div>
					</div>
					<!--ONE TASK END-->
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- MAIN END -->

	<!-- EDIT TASK START -->
	<div class="overlay" open-edit-modal></div>
	<div class="edit-task">
		<div class="container">
			<div class="close-edit" open-edit-modal>
				<span class="icon icon-cancel"></span>
			</div>
			<div class="title">
				<span>Новая задача</span>
			</div>
			<div class="input-group flex-container">
				<div class="task-bell">
					<span class="icon icon-bell" data-ng-style="{'color': generalStyle['color']}"></span>
					<span>Оповестить за</span>
				</div>
				<input type="time" name="task-time" id="task-time" value="{{editTask.time}}">
				<input type="date" name="task-date" id="task-date" value="{{editTask.date}}">
			</div>
			<div class="textarea-wrap">
				<textarea name="task-text" id="task-text">{{editTask.taskText}}</textarea>
				<label for="task-text">Ваша задача</label>
				<div class="symbol-count">
					<span class="count">0</span>
					<span class="max-count">/1000</span>
				</div>
			</div>
			<div class="edit-task-btn-wrap">
				<button type="button" class="btn edit-task-btn" data-ng-style="{'background-color': generalStyle['background-color']}">Добавить</button>
			</div>
		</div>
	</div>
	<!-- EDIT TASK END -->
	
	<!-- PRELOAD START -->
	<div id="loading" data-ng-if="!hidePreload" data-ng-style="{'background-color': generalStyle['background-color']}">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div id="object"></div>
			</div>
		</div>
	</div>
	<!-- PRELOAD END -->
	
	<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
    
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script src="js/ctrl/baseCtrl.js"></script>
	<script src="js/directive/taskAccordion.js"></script>
	<script src="js/directive/openEditModal.js"></script>
	<script src="js/directive/openDropdown.js"></script>
	<script src="js/directive/changeTheme.js"></script>
	
	<script src="js/plugin.js"></script>
</body>
</html>